@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  // url('/assets/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}

:root {
  font: normal normal normal 16px/1.6 'Montserrat', sans-serif;
}
